/* Se usa para estilos específicos del componente App.jsx. Normalmente incluye:
Layout principal, contenedor de la app, estilos de la estructura base, cosas que solo usa App */

.login {
  display: grid;
  justify-content: center;  
}

.hide-show-pass {
  padding-left: 5px;
  position: absolute; /* Necesita un position:relative padre sobre el que posicionarse*/
  top: 50%;
  right: 14px;
  transform: translateY(-50%)
}

.user-container {
  padding-top: 12px;
  padding-bottom: 12px;

}

.pass-container {
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative /* Cualquier elemento con position:absolute se va a posicionar respecto de éste*/

}

.welcome-container {
  padding-bottom: 20px;
  padding-top: 20px;
}

.enter-button {

  border: 12px;
  border-radius: 12px;
  padding: 6px;
  width: 230px;
  background-color: rgb(18, 159, 18);
  color: rgb(253, 251, 248);
  font-size: larger;
}

.user-input {

  width: 230px;
  padding: 5px;
  border-radius: 7px;

}

.pass-input {
  width: 230px;
  padding: 4px;
  padding-right: 35px;
  border-radius: 7px;
}

.remember-input {
  padding-top: 2px;
  padding-bottom: 12px;

}

.navbar {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;  
  z-index: 1000;
  background-color: white;
}

.navbar-group{
  position: absolute;
  top: 0px;
  z-index: 1000;
}

.textonavbar {
  display: flex;
  margin: 12px;
  padding: 20px;
}

.texto,
.texto2 {
  padding: 15px;
}

.icons {
  padding: 10px;
  background-color: white;
  transition: background-color 0.5s ease;
}

.icons:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 12px;

}

.light {

  color: black;
  min-height: 100vh;
}

.dark {
  background-color: #434040;
  color: rgb(216, 193, 193);
  min-height: 100vh;
}

.lateral { 
  width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.opcion {
  margin-top: 20px;
  font-size: 20px;
}
.layout {
  display: flex;
  padding-top: 70px;
}