/* Se usa para estilos específicos del componente App.jsx. Normalmente incluye:
Layout principal, contenedor de la app, estilos de la estructura base, cosas que solo usa App */

.login {

  display: grid;
  justify-content: center;
}

.hide-show-pass {
  padding-left: 5px;
}

.enter-button {
  margin: 10px;
  border:12px;
  border-radius: 12px;
  padding: 10px;
  width: 70px;
  
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px;
  z-index: 1000;
}

.textonavbar {
  display: flex;
  margin: 12px;
  padding: 20px;
}

.texto,
.texto2 {
  padding: 15px;
}

.icons {
  padding: 10px;
  background-color: white;
  transition: background-color 0.5s ease;
}

.icons:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 12px;

}

.light {

  color: black;
  min-height: 100vh;
}

.dark {
  background-color: #121212;
  color: rgb(216, 193, 193);
  min-height: 100vh;
}

.lateral {
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(197, 229, 229);
}

.opcion {
  margin-top: 20px;
  font-size: 20px;
}