/* Estilos globales que afectan a toda la aplicación. Tipografías globales, colores base, Body, html, 
root. Estilos generales reutilizables */


#root {  
  max-width: 100%;
  margin: 0 auto; 
}
.login {
  background-color: #93b0bb;
}

