/* Estilos globales que afectan a toda la aplicación. Tipografías globales, colores base, Body, html, 
root. Estilos generales reutilizables */


#root {  
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border); 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
 
}
