/* Estilos globales que afectan a toda la aplicación. Tipografías globales, colores base, Body, html, 
root. Estilos generales reutilizables */


#root,
html,
body {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}



